:root {
  --color-new-group-color: #ffffff;
  --color-new-group-color-10: #ffffff;
  --color-new-group-color-100: #ffffff;
  --color-new-group-color-101: #ffffff;
  --color-new-group-color-102: #ffffff;
  --color-new-group-color-103: #ffffff;
  --color-new-group-color-104: #ffffff;
  --color-new-group-color-105: #ffffff;
  --color-new-group-color-106: #ffffff;
  --color-new-group-color-107: #ffffff;
  --color-new-group-color-108: #ffffff;
  --color-new-group-color-109: #ffffff;
  --color-new-group-color-11: #ffffff;
  --color-new-group-color-110: #ffffff;
  --color-new-group-color-111: #ffffff;
  --color-new-group-color-112: #ffffff;
  --color-new-group-color-113: #ffffff;
  --color-new-group-color-114: #ffffff;
  --color-new-group-color-115: #ffffff;
  --color-new-group-color-116: #ffffff;
  --color-new-group-color-117: #ffffff;
  --color-new-group-color-118: #ffffff;
  --color-new-group-color-119: #ffffff;
  --color-new-group-color-12: #ffffff;
  --color-new-group-color-120: #ffffff;
  --color-new-group-color-121: #ffffff;
  --color-new-group-color-122: #ffffff;
  --color-new-group-color-123: #ffffff;
  --color-new-group-color-124: #ffffff;
  --color-new-group-color-125: #ffffff;
  --color-new-group-color-126: #ffffff;
  --color-new-group-color-127: #ffffff;
  --color-new-group-color-128: #ffffff;
  --color-new-group-color-13: #ffffff;
  --color-new-group-color-14: #ffffff;
  --color-new-group-color-15: #ffffff;
  --color-new-group-color-16: #ffffff;
  --color-new-group-color-17: #ffffff;
  --color-new-group-color-18: #ffffff;
  --color-new-group-color-19: #ffffff;
  --color-new-group-color-2: #ffffff;
  --color-new-group-color-20: #ffffff;
  --color-new-group-color-21: #ffffff;
  --color-new-group-color-22: #ffffff;
  --color-new-group-color-23: #ffffff;
  --color-new-group-color-24: #ffffff;
  --color-new-group-color-25: #ffffff;
  --color-new-group-color-26: #ffffff;
  --color-new-group-color-27: #ffffff;
  --color-new-group-color-28: #ffffff;
  --color-new-group-color-29: #ffffff;
  --color-new-group-color-3: #ffffff;
  --color-new-group-color-30: #ffffff;
  --color-new-group-color-31: #ffffff;
  --color-new-group-color-32: #ffffff;
  --color-new-group-color-33: #ffffff;
  --color-new-group-color-34: #ffffff;
  --color-new-group-color-35: #ffffff;
  --color-new-group-color-36: #ffffff;
  --color-new-group-color-37: #ffffff;
  --color-new-group-color-38: #ffffff;
  --color-new-group-color-39: #ffffff;
  --color-new-group-color-4: #ffffff;
  --color-new-group-color-40: #ffffff;
  --color-new-group-color-41: #ffffff;
  --color-new-group-color-42: #ffffff;
  --color-new-group-color-43: #ffffff;
  --color-new-group-color-44: #ffffff;
  --color-new-group-color-45: #ffffff;
  --color-new-group-color-46: #ffffff;
  --color-new-group-color-47: #ffffff;
  --color-new-group-color-48: #ffffff;
  --color-new-group-color-49: #ffffff;
  --color-new-group-color-5: #ffffff;
  --color-new-group-color-50: #ffffff;
  --color-new-group-color-51: #ffffff;
  --color-new-group-color-52: #ffffff;
  --color-new-group-color-53: #ffffff;
  --color-new-group-color-54: #ffffff;
  --color-new-group-color-55: #ffffff;
  --color-new-group-color-56: #ffffff;
  --color-new-group-color-57: #ffffff;
  --color-new-group-color-58: #ffffff;
  --color-new-group-color-59: #ffffff;
  --color-new-group-color-6: #ffffff;
  --color-new-group-color-60: #ffffff;
  --color-new-group-color-61: #ffffff;
  --color-new-group-color-62: #ffffff;
  --color-new-group-color-63: #ffffff;
  --color-new-group-color-64: #ffffff;
  --color-new-group-color-65: #ffffff;
  --color-new-group-color-66: #ffffff;
  --color-new-group-color-67: #ffffff;
  --color-new-group-color-68: #ffffff;
  --color-new-group-color-69: #ffffff;
  --color-new-group-color-7: #ffffff;
  --color-new-group-color-70: #ffffff;
  --color-new-group-color-71: #ffffff;
  --color-new-group-color-72: #ffffff;
  --color-new-group-color-73: #ffffff;
  --color-new-group-color-74: #ffffff;
  --color-new-group-color-75: #ffffff;
  --color-new-group-color-76: #ffffff;
  --color-new-group-color-77: #ffffff;
  --color-new-group-color-78: #ffffff;
  --color-new-group-color-79: #ffffff;
  --color-new-group-color-8: #ffffff;
  --color-new-group-color-80: #ffffff;
  --color-new-group-color-81: #ffffff;
  --color-new-group-color-82: #ffffff;
  --color-new-group-color-83: #ffffff;
  --color-new-group-color-84: #ffffff;
  --color-new-group-color-85: #ffffff;
  --color-new-group-color-86: #ffffff;
  --color-new-group-color-87: #ffffff;
  --color-new-group-color-88: #ffffff;
  --color-new-group-color-89: #ffffff;
  --color-new-group-color-9: #ffffff;
  --color-new-group-color-90: #ffffff;
  --color-new-group-color-91: #ffffff;
  --color-new-group-color-92: #ffffff;
  --color-new-group-color-93: #ffffff;
  --color-new-group-color-94: #ffffff;
  --color-new-group-color-95: #ffffff;
  --color-new-group-color-96: #ffffff;
  --color-new-group-color-97: #ffffff;
  --color-new-group-color-98: #ffffff;
  --color-new-group-color-99: #ffffff;
  --color-color-brand-primary: #0064de;
  --color-color-brand-secondary: #fddff7; /* This is the secondary one */
  --color-color-neutrals-50: #fcfdff;
  --color-color-neutrals-100: #f1f8ff;
  --color-color-neutrals-700: #516782;
  --color-color-neutrals-800: #06356b;
  --color-color-neutrals-900: #042348;
  --color-color-neutrals-100-25: rgba(241, 248, 255, 0.25);
  --color-color-neutrals-700-15: rgba(81, 103, 130, 0.15);
}
